* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}


.grid {
    height: 1000px;
    width: 1000px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.tile {
    flex-grow: 0;
    flex-shrink: 0;
}